@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

