body {
  background-color: $black;
  color: $lightgray;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading-gif {
  width: 5%;
  height: 5%;
}

.select-container {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
  &.header-slim {
    padding: 0;
    transition: padding 1s;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 600px;
    align-items: center;
    padding: 5.5rem;
    align-content: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 1240px;
    align-items: center;
    padding-top: 5rem;
    padding-left: 0px;
  }

  .logo {
    padding: 100px;
    height: 200px;
    &.logo-small {
      height: 100px;
      transition: height 1s;
    }
    @include tablet {
      padding: 0px;
    }

    @include desktop {
      padding: 0px;
    }
  }

  .select-text {
    padding-bottom: 6rem;

    @include tablet {
      padding: 3rem;
    }

    @include desktop {
      padding: 5rem;
    }

    p {
      @include tablet {
        width: 10rem;
      }
    }
    #selection {
      font-size: 16px;
      width: 120px;
    }
  }
}

.container {
  width: 100%;
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  .block-container {
    width: 600px;
    height: 100px;
    margin: 0;
  }

  .item {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: flex-end;
  }

  .abstract {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5));
    opacity: 0;
  }

  a {
    text-decoration: none;
    color: $white;
  }
  :hover {
    opacity: 100;
    transform: opacity 1s;
  }
}

footer {
  text-align: center;
  padding: 60px;

  @include tablet {
    text-align: center;
    padding: 3rem;
    margin-top: 0px;
  }

  @include desktop {
    text-align: left;
    padding: 3rem;
    margin-top: 0px;
  }
}
