body {
  background-color: #000;
  color: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
}

.select-container {
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;

  @include tablet {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 600px;
    align-items: center;
    padding: 5.5rem;
    align-content: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 1240px;
    align-items: center;
    padding-top: 5rem;
    padding-left: 0px;
  }

  .logo {
    padding: 100px;

    @include tablet {
      padding: 0px;
    }

    @include desktop {
      padding: 0px;
    }
  }

  .select-text {
    padding-bottom: 6rem;

    @include tablet {
      padding: 3rem;
    }

    @include desktop {
      padding: 5rem;
    }

    p {
      width: 1rem;

      @include tablet {
        width: 10rem;
      }
    }
    #selection {
      font-size: 16px;
      width: 120px;
    }
  }
}

.container {
  width: 100%;
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  .block-container {
    width: 600px;
    height: 100px;
    margin: 0;
  }

  .item {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .abstract {
    position: relative;
    padding: 0 1rem 0 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3));
  }

  a {
    text-decoration: none;
    color: white;
  }
}

footer {
  text-align: center;
  padding: 60px;

  @include desktop {
    text-align: left;
    padding: 3rem;
  }
}
