body {
  color: $lightgray;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: $white;
}
